@media (max-width: 767.98px) {

  // ! COLOURS

$plum: #643754;
$indian-red: #e15554;
$pacific-blue: #84D0C4;
$dark-cornflower-blue: #2F375B;

  // * WELCOME

  .welcome-background {
    background-image: url('../images/home-background-sml.jpg')
  }

  h1.cathy {
    font-size: 90px;
    margin-right: 20px;
  }
  h2.h2-welcome {
    font-size: 60px;
    margin-right: 30px;
  }
  h3.h3-welcome {
    font-size: 40px;
    margin-right: 20px;
  }

  .j {
    font-size: 120px;
  }

  // * ABOUT

  img.me {
    height: 180px;
  }

  h2.h2-about {
    font-size: 40px;
    margin-bottom: 0px;
  }

  p.p-about {
    font-size: 13px;
    padding: 5px;
    padding-right: 20px;
  }

  .about-right-section {
    margin-top: 0px;
    justify-content: flex-start;
  }

  .about-container {
    padding-right: 0px;
  }

  button.about-button {
    height: 40px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    border: 2px solid $pacific-blue !important;
    border-radius: 0px !important;
    background: none;
    color: $pacific-blue;
    font-size: 16px;
  }

  p.p-skills {
    font-size: 10px;
    color: white;
  }
  
  p.p-icon {
    font-size: 20px;
    color: white;
  }
  
  .skills-cell {
    height: 65px;
    width: 65px;
  }


  // * PORTFOLIO


  .portfolio-upper-section {
    margin-top: 50px;
  }

  h2.h2-portfolio {
    font-size: 50px;
    margin-top: 20px;
  }

  h3.h3-portfolio {
    font-size: 30px;
  }

  p.p-portfolio {
    font-size: 16px;
  }

  a.project-links {
    font-size: 16px;
  }

  .outer-tv-container {
    height: 200px;
    width: 100%;
  }

  .inner-tv-container {
    height: 200px;
    width: 300px;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
  }

  .project-one {
    height: 200px;
    width: 300px;
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
  }

  img.img-tv {
    height: 220px;
  }

  .curly-brace {
    display: none;
  }

  .tv-section {
    margin-top: 0px;
  }

  .button-container {
    display: none
  }

  .mobile-buttons {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
  }

  .sml-channel-button {
    background: none !important;
    border: 2px solid $indian-red !important;
    font-family: 'Raleway', sans-serif;
    font-size: 13px !important;
    border-radius: 0px !important;
    color: $indian-red !important;
  }

  .project-links {
    font-size: 20px;
    margin-bottom: 10px;
  }

  // * CONTACT

  h2.h2-contact {
    font-size: 50px;
  }

  a.a-contact {
    font-size: 18px;
  }

  .contact-upper-section {
    margin-top: 50px;
  }

  input.contact {
    font-size: 18px !important;
    border-bottom: 2px solid $dark-cornflower-blue !important;
    margin: 5px !important;
  }

  textarea.contact {
    font-size: 18px !important;
    border-bottom: 2px solid $dark-cornflower-blue !important;
  }

  .contact-lower-section {
    font-size: 10px;
  }

  #submit-button {
    font-size: 18px !important;
  }

  .telephone {
    display: none;
  }


  


}