@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Crimson+Text&family=Libre+Baskerville&family=Merriweather&family=Neuton&family=Playfair+Display&display=swap');

//1200 - break
//990 - break
//770 - break

// ! ANIMATIONS

$size: 50px;
$speed: 3s;
$peakopacity:0.7;

// ! COLOURS

$selective-yellow: #f7b801ff;
$indian-red: #e15554ff;
$pacific-blue: #50b2c0ff;
$dark-cornflower-blue: #2c497fff;

// ! GENERAL TAGS

body {
  font-family: 'Crimson Text', serif !important;
  font-size: 20px !important;
  
h1 {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 150px !important;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.8) !important;
}

span {
  background-color: white !important;
}

a {
  color: white !important;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}

a:hover {
  color: orangered !important;
}

}

// ! GENERAL FORMATTING

.row {
  border: solid 1px black;
  flex: 1
}

.page-contents {
  border: solid 5px red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-contents-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  border: solid 1px blue;
}


// ! NAVBAR

.navbar-toggler-icon {
  background-image: url("https://i.imgur.com/Vg3OFQ3.png") !important;
  background-color: rgba(0,0,0,0) !important;
}

// ! WELCOME PAGE

.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.cathy {
  color: $indian-red;
  margin-left: 20px;
}

.arrows {
  position: relative;
    /**/
  position: absolute;
  top:85%;
  left:50%;
    /**/
  width:$size;
  height:$size;
  transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size/3,$size*4/3)rotate(-45deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size*2/3,0px)rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
}

// ! PORTFOLIO PAGE

.tv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px red;
  height: 100vh
}

.outer-tv-container {
  height: 500px;
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid yellow;
  z-index: 100;
}

.inner-tv-container {
  border: solid 3px blue;
  height: 400px;
  width: 600px;
  background-image: url('https://i.imgur.com/jwhS7om.gif');
  position: absolute;
  z-index: -1;
  margin-top: 2%;
  margin-left: 5%;
}

.project-one {
  border: solid 3px blue;
  height: 400px;
  width: 600px;
  background-image: url('https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80');
  position: absolute;
  z-index: -1;
  margin-top: 2%;
  margin-left: 5%;
}

.tv {
  height: 100%;
  width: 100%;
  background-image: url("../images/TV.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 3px solid purple;
  z-index: 100;
}

// ! MEDIA QUERIES

@media screen and (max-width: 1200px) {
  .inner-tv-container {
    height: 350px;
    width: 450px;
    background-image: url('https://i.imgur.com/jwhS7om.gif');
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 992px) {
  .inner-tv-container {
    border: solid 3px blue;
    height: 250px;
    width: 400px;
    background-image: url('https://i.imgur.com/jwhS7om.gif');
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    margin-left: 5%;
  }
  .outer-tv-container {
    height: 300px;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid yellow;
    z-index: 100;
  }
}

@media screen and (max-width: 767px) {
  .outer-tv-container {
    height: 200px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid yellow;
    z-index: 100;
  }
  .inner-tv-container {
    height: 150px;
    width: 220px;
    background-image: url('https://i.imgur.com/jwhS7om.gif');
    position: absolute;
    z-index: -1;
    margin-top: 10px;
    margin-left: 25px;
  }
  .tv {
    height: 200px;
    width: 300px;
    background-image: url("../images/TV.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid purple;
    z-index: 100;
  }
}


// ! KEYFRAMES


@keyframes arrows {
  0% {
      border-left:$size/3 solid rgba(255,0,0,0);
      border-bottom:$size/3 solid rgba(255,0,0,0);
      transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:$size/3 solid rgba(255,255,255,$peakopacity);
      border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
      transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(255,255,255,0);
      border-bottom:$size/3 solid rgba(255,255,255,0);
      transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}
