.row {
  border: solid 1px black;
  flex: 1
}

.page-contents {
  border: solid 5px red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.column {
  border: solid 1px blue;
}

span {
  background: white !important;
}