@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Crimson+Text&family=Libre+Baskerville&family=Merriweather&family=Neuton&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

//1200 - break
//990 - break
//770 - break
//#7fbb98


// * Original
//$selective-yellow: #f7b801ff;
//$indian-red: #e15554ff;
//$pacific-blue: #50b2c0ff;
//$dark-cornflower-blue: #2c497fff;


// * Retro 1
// $selective-yellow: #FEC240;
// $indian-red: #DE4B43;
// $pacific-blue: #98C4D1;
// $dark-cornflower-blue: #2F375B;

// * Retro 2
// $selective-yellow: #FEC820;
// $indian-red: #F63B34;
// $pacific-blue: #84D0C4;
// $dark-cornflower-blue: #492B2D;

// * Retro 3
// $selective-yellow: #F5E258;
// $indian-red: #E95D2A;
// $pacific-blue: #D6F1C4;
// $dark-cornflower-blue: #643754;

//lg-1080
//md-892

// <576
// sm >576
// md  >768
// lg >992
// xl >1200
// xxl >1400

// ! FONTS

$main-font: 'Crimson Text', Georgia, serif;

// ! BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


// ! ANIMATIONS

$size: 50px;
$speed: 3s;
$peakopacity:0.7;

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 

// ! BUTTONS

$height:65;
$depth:6;
$color: #C5B6B3;
$text-color:darken($color,10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;

// ! COLOURS

$plum: #643754;
$indian-red: #e15554;
$pacific-blue: #84D0C4;
$dark-cornflower-blue: #2F375B;

// ! GENERAL TAGS


body {
  font-family: $main-font !important;
  font-size: 24px !important;

p {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0px;
}
  
h1 {
  font-family: $main-font;
  font-size: 150px;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.8) !important;
}

h2 {
  font-family: $main-font;
  font-size: 100px ;
  text-shadow: 2.5px 2.5px 4px rgba(0,0,0,0.8) !important;
}

h3 {
  font-family: 'Crimson Text', sans-serif;
  font-weight: 600 !important;
  font-size: 40px;
} 



a {
  color: whitesmoke !important;
}

a:hover {
  color: #3a3a3a !important;
}


input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 3px solid $dark-cornflower-blue !important;
  border-radius: 0px !important;
  background: none !important;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px !important;
  color: whitesmoke !important;
}

input:focus {
  box-shadow: none !important;
}

input:active {
  border: none !important;
  background: none !important;
}

textarea {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 3px solid $dark-cornflower-blue !important;
  border-radius: 0px !important;
  background: rgba(250, 250, 250, 0.5) !important;
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark-cornflower-blue !important;
  opacity: 0.5 !important; /* Firefox */
}

button {
  border: none !important
}

}

// ! GENERAL FORMATTING

.page-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-contents-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ! NAVBAR

// .navbar-toggler-icon {
//   background-image: url("https://i.imgur.com/Vg3OFQ3.png") !important;
//   background-color: rgba(0,0,0,0) !important;
// }

.navbar-link {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}


// ! WELCOME PAGE

.welcome-background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/home-background-2.jpg');
  background-size: 100% 100%
}

h1.welcome {
  font-size: 150px;
}

h2.h2-welcome {
  font-size: 100px;
  color: $pacific-blue; 
}


h3.h3-welcome {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
  color: $indian-red;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: whitesmoke;
}

.rotating-text {
  height: 50px;
}

.cathy {
  color: whitesmoke;
  line-height: .8em;
  margin-bottom: 10px;
}

.j {
  color: $indian-red;
  font-size: 200px;
}

.arrows {
  position: relative;
    /**/
  position: absolute;
  top:85%;
  left:50%;
    /**/
  width:$size;
  height:$size;
  transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size/3,$size*4/3)rotate(-45deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size*2/3,0px)rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
}

// ! ABOUT PAGE

.about-background {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $dark-cornflower-blue
}

.about-right-section {
  flex-direction: column;
  justify-content: center;
}

.about-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

h2.h2-about {
  color: $pacific-blue;
  font-size: 80px
}

p.p-about {
  color: whitesmoke;
}

.about-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.about-button {
  height: 50px;
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
  border: 3px solid $pacific-blue !important;
  border-radius: 0px !important;
  background: none;
  color: $pacific-blue;
  font-size: 22px;
}

:hover.about-button {
  color: whitesmoke;
  border: solid 3px whitesmoke !important;
  background: none !important;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

p.p-skills {
  font-size: 11px;
  text-align: center;
}

p.p-icon {
  font-size: 35px;
}

.skills-cell {
  height: 90px;
  width: 90px;
  margin: 3px;
  // border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}


// ! PORTFOLIO PAGE

.portfolio-background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $pacific-blue;
}

.portfolio-upper-section {
  display: flex;
  align-items: center;
  justify-content: center;

}

.portfolio-lower-section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.portfolio-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $indian-red;
}

.curly-brace {
  display: flex;
  align-items: flex-start;
  font-size: 250px;
  line-height: .9em;
  color: $indian-red;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.8) !important;
  font-family: 'Kiwi Maru', Georgia, serif;
}

.portfolio-description-section {
  display: flex;
  align-items: center;
}

.project-description {
  display: flex;
  flex-direction: row;
}

.description-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.project-links {
  color: $indian-red !important;
}

h2.h2-portfolio {
  font-size: 80px;
}

h3.h3-portfolio {
  color: $indian-red
}

.tv-section {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.outer-tv-container {
  display: flex;
  justify-content: center;
  height: 500px;
  width: 50%;
  z-index: 100;
}

.inner-tv-container {
  height: 400px;
  width: 620px;
  background-image: url('https://i.imgur.com/jwhS7om.gif');
  position: relative;
  z-index: -1;
  margin-top: 1%;
  margin-left: 40px;
}

.project-one {
  position: relative;
  height: 400px;
  width: 620px;
  z-index: -1;
  margin-top: 30px;
  margin-left: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
}

.tv {
  position: absolute;
  z-index: 100;
}

.button-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
}

.button-container {
  height: 100%;
  width: 162px;
  padding-top: 5%;
  padding-left: 10px;
}

.mobile-buttons {
  display: none;
}


// ! TV BUTTONS (Alex Zaworski - https://codepen.io/alexzaworski/pen/LEWRxm)

.channel-button {
  cursor:pointer;
  margin-left:5px;
  margin-bottom:15px;
  text-shadow:0 -1px 0 darken($color,20%),0 1px 1px lighten($color,20%) ;
  box-sizing:border-box;
  font-size:2em;
  font-family: 'Raleway', sans-serif;
  border: none !important;
  text-decoration:none;
  font-weight:bold;
  color:$text-color !important;
  &:visited {
    color:$text-color;
  }
  height:$height+px;
  line-height:$height+px;
  padding: 0 (($height/2)+px);
  display:inline-block;
  width:auto;
  background: linear-gradient(to bottom,
    saturate(lighten($color,15%),35%) 0%,
    saturate(lighten($color,12%),15%) 26%,
    $color 100%);
  border-radius:5px;
  border-top:1px solid lighten($color,22%);
  border-bottom:1px solid lighten($color,20%);
 top:0;
  transition:all ($button-speed + s) $timing-function;
  position:relative;
}
.channel-button:hover {
  background: linear-gradient(to bottom,
    lighten(saturate(lighten($color,15%),35%),$lighten-on-hover) 0%,
    lighten(saturate(lighten($color,12%),15%),$lighten-on-hover) 26%,
    lighten($color,$lighten-on-hover) 100%);
}
.channel-button:active {
  top:$depth+px;
       text-shadow:0 -2px 0 darken($color,0%),0 1px 1px lighten($color,20%), 0 0 4px white ;
  color:lighten($color,45%);
  &:before {
    top:0;
    box-shadow: 0 3px 3px rgba(0,0,0,.7),0 3px 9px rgba(0,0,0,.2);

  }
}
.channel-button:before {
  display:inline-block;
  content:'';
  position:absolute;
  left:0;
  right:0;
  z-index:-1;
  top:($depth)+px;
  border-radius:5px;
  height:($height)+px;
  background: linear-gradient(to top,
    saturate(darken($color,40%),15%) 0%,
    saturate(darken($color,25%),10%) $depth+px);
  transition:all (($button-speed*1.3) + s) $timing-function;
  box-shadow:
    0 1px 0 2px rgba(0,0,0,.3),
    0 5px ($depth*.4+px) rgba(0,0,0,.5),
    0 ($depth*1.8+px) 9px rgba(0,0,0,.2);
    
  
}

// ! CONTACT

.contact-background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $indian-red
}

#submit-button {
  font-size: 24px !important;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  border-radius: 0px !important;
  background-color: $dark-cornflower-blue !important;
}

.contact-upper-section {
  flex: 12;
  margin-top: 80px;
}

.contact-lower-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background-color: $dark-cornflower-blue;
  color: $pacific-blue;
}

.contact-left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h2.h2-contact {
  color: $dark-cornflower-blue;
  margin-bottom: 20px;
}

a.a-contact {
  color: whitesmoke !important;
  font-size: 24px;
  font-family: 'Raleway', sans-serif
}

.telephone {
  display: flex;
  justify-content: flex-end;
}



// ! KEYFRAMES


@keyframes arrows {
  0% {
      border-left:$size/3 solid rgba(255,0,0,0);
      border-bottom:$size/3 solid rgba(255,0,0,0);
      transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:$size/3 solid rgba(255,255,255,$peakopacity);
      border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
      transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(255,255,255,0);
      border-bottom:$size/3 solid rgba(255,255,255,0);
      transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
