@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Crimson+Text&family=Libre+Baskerville&family=Merriweather&family=Neuton&family=Playfair+Display&display=swap');

//1200 - break
//990 - break
//770 - break
//#7fbb98

// ! ANIMATIONS

$size: 50px;
$speed: 3s;
$peakopacity:0.7;

// ! BUTTONS

$height:65;
$depth:6;
$color: #C5B6B3;
$text-color:darken($color,10%);
$lighten-on-hover:7%;
$button-speed:.06;
$timing-function: ease-out;

// ! COLOURS

$selective-yellow: #f7b801ff;
$indian-red: #e15554ff;
$pacific-blue: #50b2c0ff;
$dark-cornflower-blue: #2c497fff;

// ! GENERAL TAGS

body {
  font-family: 'Crimson Text', serif !important;
  font-size: 20px !important;
  
h1 {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 150px;
  text-shadow: 5px 5px 8px rgba(0,0,0,0.8) !important;
}

h2 {
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 100px !important;
  text-shadow: 2.5px 2.5px 4px rgba(0,0,0,0.8) !important;
}

span {
  background-color: white !important;
}

a {
  color: white !important;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}

a:hover {
  color: #3a3a3a !important;
}

}

// ! GENERAL FORMATTING

.row {
  border: solid 1px black;
  flex: 1
}

.page-contents {
  border: solid 5px red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-contents-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  border: solid 1px blue;
}


// ! NAVBAR

.navbar-toggler-icon {
  background-image: url("https://i.imgur.com/Vg3OFQ3.png") !important;
  background-color: rgba(0,0,0,0) !important;
}

// ! WELCOME PAGE

.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.cathy {
  color: $indian-red;
  margin-left: 20px;
}

.arrows {
  position: relative;
    /**/
  position: absolute;
  top:85%;
  left:50%;
    /**/
  width:$size;
  height:$size;
  transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size/3,$size*4/3)rotate(-45deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,0,0,$peakopacity);
      border-bottom:$size/3 solid rgba(255,0,0,$peakopacity);
      transform:translate($size*2/3,0px)rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
}

// ! PORTFOLIO PAGE

.portfolio-container {
  height: 100vh;
  border: solid 3px red;
  display: flex;
  flex-direction: column;
}

.portfolio-upper-section {
  flex: 2;
  display: flex;
  align-items: flex-end;
}

.portfolio-header-section {
  flex: 2;
  display: flex;
  align-items: flex-end;
}

.portfolio-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $dark-cornflower-blue;
  margin-top: 50px;
}

.portfolio-description-section {
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.portfolio-description {
  flex: 2;
}

.tv-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: solid 3px red;
}

.outer-tv-container {
  height: 500px;
  width: 70%;
  border: 2px solid yellow;
  z-index: 100;
}

.inner-tv-container {
  border: solid 3px blue;
  height: 400px;
  width: 590px;
  background-image: url('https://i.imgur.com/jwhS7om.gif');
  position: absolute;
  z-index: -1;
  margin-top: 2%;
  margin-left: 55px;
}

.project-one {
  border: solid 3px blue;
  height: 400px;
  width: 590px;
  position: absolute;
  z-index: -1;
  margin-top: 2%;
  margin-left: 55px;
}

.tv {
  position: absolute;
  border: 3px solid purple;
  z-index: 100;
}

.button-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 3px solid orange;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
}

.button-container {
  height: 100%;
  width: 162px;
  border: 3px solid blue;
  padding-top: 5%;
  padding-left: 10px;
}

.channel-button {
  margin-bottom: 2px;
  background-color: brown !important;
  font-family: 'Montserrat';
  border: none !important;
}

// ! TV BUTTONS (Alex Zaworski - https://codepen.io/alexzaworski/pen/LEWRxm)

.channel-button {
  cursor:pointer;
  margin-left:5px;
  margin-bottom:15px;
  text-shadow:0 -2px 0 darken($color,20%),0 1px 1px lighten($color,20%) ;
  box-sizing:border-box;
  font-size:2em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration:none;
  font-weight:bold;
  color:$text-color !important;
  &:visited {
    color:$text-color;
  }
  height:$height+px;
  line-height:$height+px;
  padding: 0 (($height/2)+px);
  display:inline-block;
  width:auto;
  background: linear-gradient(to bottom,
    saturate(lighten($color,15%),35%) 0%,
    saturate(lighten($color,12%),15%) 26%,
    $color 100%);
  border-radius:5px;
  border-top:1px solid lighten($color,22%);
  border-bottom:1px solid lighten($color,20%);
 top:0;
  transition:all ($button-speed + s) $timing-function;
  position:relative;
}
.channel-button:hover {
  background: linear-gradient(to bottom,
    lighten(saturate(lighten($color,15%),35%),$lighten-on-hover) 0%,
    lighten(saturate(lighten($color,12%),15%),$lighten-on-hover) 26%,
    lighten($color,$lighten-on-hover) 100%);
}
.channel-button:active {
  top:$depth+px;
       text-shadow:0 -2px 0 darken($color,0%),0 1px 1px lighten($color,20%), 0 0 4px white ;
  color:lighten($color,45%);
  &:before {
    top:0;
    box-shadow: 0 3px 3px rgba(0,0,0,.7),0 3px 9px rgba(0,0,0,.2);

  }
}
.channel-button:before {
  display:inline-block;
  content:'';
  position:absolute;
  left:0;
  right:0;
  z-index:-1;
  top:($depth)+px;
  border-radius:5px;
  height:($height)+px;
  background: linear-gradient(to top,
    saturate(darken($color,40%),15%) 0%,
    saturate(darken($color,25%),10%) $depth+px);
  transition:all (($button-speed*1.3) + s) $timing-function;
  box-shadow:
    0 1px 0 2px rgba(0,0,0,.3),
    0 5px ($depth*.4+px) rgba(0,0,0,.5),
    0 ($depth*1.8+px) 9px rgba(0,0,0,.2);
    
  
}

@media screen and (max-width: 1200px) {
  .inner-tv-container {
    height: 350px;
    width: 450px;
    background-image: url('https://i.imgur.com/jwhS7om.gif');
    position: absolute;
    z-index: -1;
    margin-top: 2%;
    margin-left: 5%;
  }
  h1 {
    font-size: 100px !important;
  }
  h2 {
    font-family: 'Montserrat' !important;
  }
}

// ! KEYFRAMES


@keyframes arrows {
  0% {
      border-left:$size/3 solid rgba(255,0,0,0);
      border-bottom:$size/3 solid rgba(255,0,0,0);
      transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:$size/3 solid rgba(0,0,0,0);
      border-bottom:$size/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:$size/3 solid rgba(255,255,255,$peakopacity);
      border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
      transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:$size/3 solid rgba(255,255,255,0);
      border-bottom:$size/3 solid rgba(255,255,255,0);
      transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}
